# Kompilerte pythonfiler
*.pyc
__pycache__/

# Virtuelt miljø (hvis du har det inne i repoet)
venv/

# PyCharm‐konfig
.idea/

# Store datafiler – legg til flere etter behov
proj_environment-main/data/

proj_environment-main/src/ekvivalenter_data.json